@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); } 
  /* Se mueve al -50% porque duplicaremos el texto. 
     Cuando el texto 1 sale, el texto 2 ocupa su lugar exacto. */
}

.animate-marquee {
  display: flex;
  width: fit-content;
  animation: marquee 10s linear infinite; /* 10 segundos tardará en dar la vuelta */
}

/* Opcional: Pausar si pasas el mouse por encima */
.animate-marquee:hover {
  animation-play-state: paused;
}